<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    DocumentRoot {{ nextcloud_dir }}

    <Directory {{ nextcloud_dir }}/ >
        Require all granted
        AllowOverride All
        Options FollowSymLinks MultiViews
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/nextcloud_error.log
    CustomLog ${APACHE_LOG_DIR}/nextcloud_access.log combined
</VirtualHost>
